<nav class="nav">
    <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-list-alt"></i> Ordenar</a>
    <a class="nav-link" href="/cocina"><i class="fas fa-utensils"></i> Pedidos</a>
    <a class="nav-link" href="/mesas"><i class="fas fa-table"></i> Mesas</a>
    <a class="nav-link" href="/ventas"><i class="fas fa-cash-register"></i> Ventas</a>
    <a class="nav-link" href="/configuracion"><i class="fas fa-cogs"></i></a>
    <button class="switch" id="switch">
      <span><i class="fa-solid fa-sun"></i></span>
      <span><i class="fa-solid fa-moon"></i></span>
  </button>
</nav>