<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head") %> 
<body>
  <%- include("partials/navbar") %> 

  <div class="container">
    <div id="pedidosContainer" class="mt-4">
      <!-- Aquí se cargarán los pedidos -->
    </div>
  </div>


  <%- include("partials/footer")%>
</body>

</html>